<h1>UFC Fight Picks</h1>

<h5>Predict the main & co-main event on each UFC card!</h5>
<ul>
<li>You must choose a winner and in which method the fight will be stopped.</li>
<li>You can only bet on events that are Upcoming!</li>
<li>View your stats on the Home Page!</li>
<li>To change your password, click on your e-mail address near the 'Logout' button.</li>
<ul>